name: Linting

on:
  - pull_request

jobs:
  lint:
    strategy:
      matrix:
        node-version:
          - 16.x
        os:
          - ubuntu-latest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install Dependencies
        run: npm ci

      - name: Lint
        run: npm run lint

      - name: Flatten
        run: npm run flatten
