name: Testing

on:
  - pull_request

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: Test
    runs-on: blacksmith-2vcpu-ubuntu-2204

    steps:
      - uses: actions/checkout@v4

      - name: Install Node.js
        uses: useblacksmith/setup-node@v5
        with:
          node-version: 18.x
          cache: 'npm'

      - name: Install Dependencies
        run: npm ci

      - name: Build
        run: npm run build > build.log 2>&1

      - name: Check for build warnings
        run: |
          if grep -q -i "error" build.log || grep -q -i "warning" build.log; then
            echo "Build contains following errors or warnings..."

            cat build.log

            exit 1
          else
            exit 0;
          fi

      - name: Test
        run: CHECK_CONTRACT_SIZE=true npm run test-evm-versions
